/*general*/
body {
    overflow-y: scroll;
    /* margin-top: 70px; */
}

/*login page*/
.form-login {
    width: 300px;
    margin: 0 auto !important;
}

.form-login input {
    margin-bottom: 10px;
}
/*nav*/
.navbar{
    -webkit-backdrop-filter: saturate(150%) blur(8px);
    backdrop-filter: saturate(150%) blur(8px);
    background-color:rgba(255, 255, 255, 0.8);
    box-shadow: 2px 3px 12px rgba(0, 0, 0, 0.04);
    -webkit-box-shadow: 2px 3px 12px rgba(0, 0, 0, 0.04);
    -moz-box-shadow: 2px 3px 12px rgba(0, 0, 0, 0.04);
}
.navbar .nav-item{
    font-size: 16px;
    padding: 0 8px;
}
.navbar .dropdown-menu{
    -webkit-backdrop-filter: saturate(150%) blur(8px);
    backdrop-filter: saturate(150%) blur(8px);
}

/* Sidebar nav */
.side-nav{
    margin: 0;
    position: fixed;
    top:0;
    bottom: 0;
    left: 0;
    z-index: 100;
    background: white;
    box-shadow: 2px 3px 12px rgba(0, 0, 0, 0.04);
    -webkit-box-shadow: 2px 3px 12px rgba(0, 0, 0, 0.04);
    -moz-box-shadow: 2px 3px 12px rgba(0, 0, 0, 0.04);

}

/*header*/
header{
    padding:1em 0px;
    font-size: 38px;
    font-weight: 500;
}


/*main section*/
main{
    padding-top:68px;
}

/* index */
#se-calendar .card-body{
    max-height: 300px;
    overflow: auto;
    display: inline-block;
}

/* ? */
.fade {
    transition: opacity .1s linear;
}

/* forms */
form .btn-group-toggle .btn:hover {
    background-color: rgb(238, 238, 238);
    color:#444;
}

/*card*/
.card {
    height: 100%;
    border-radius: 20px;
    border: none;
    box-shadow: 2px 3px 12px rgba(0, 0, 0, 0.04);
    -webkit-box-shadow: 2px 3px 12px rgba(0, 0, 0, 0.04);
    -moz-box-shadow: 2px 3px 12px rgba(0, 0, 0, 0.04);
}
.card-header{
    background: white;
    border: none;
    font-size:24px;
    font-weight: 500;
    border-radius: 20px;
    padding:1.2rem 1.8rem;
}
.card-header:first-child{
    border-radius: 20px;
}

/* Buttons */
.btn{
    border-radius: 20px;
    padding:0.5rem 1rem;
}

/* Vector icons */
.feather{
    max-width: 20px;
    padding: 0 2px;
}

/*MOBILE*/
@media (max-width: 992px) {

    main {
        padding: 10px 10px;
    }
    header{
        margin: 20px auto 20px auto;
        height: 4em;
    }
    main form{
        max-width: 100%;
    }
    .navbar .dropdown-menu a{
        font-size: 18px;
    }
}
