/*general*/
body {
    overflow-y: scroll;
    /* margin-top: 70px; */
}

/*login page*/
.form-login {
    width: 300px;
    margin: 0 auto !important;
}

.form-login input {
    margin-bottom: 10px;
}
/*nav*/
.navbar{
    -webkit-backdrop-filter: saturate(150%) blur(4px);
    backdrop-filter: saturate(150%) blur(4px);
    background-color:rgb(13, 18, 44,0.85);
    box-shadow: 2px 3px 12px rgba(0, 0, 0, 0.04);
    -webkit-box-shadow: 2px 3px 12px rgba(0, 0, 0, 0.04);
    -moz-box-shadow: 2px 3px 12px rgba(0, 0, 0, 0.04);
}
.navbar .nav-item{
    font-size: 16px;
    padding: 0 8px;
}
.navbar .dropdown-menu{
    -webkit-backdrop-filter: saturate(150%) blur(4px);
    backdrop-filter: saturate(150%) blur(4px);
}

/* Sidebar nav */
.side-nav{
    margin: 0;
    position: fixed;
    top:0;
    bottom: 0;
    left: 0;
    z-index: 100;
    background: white;
    box-shadow: 2px 3px 12px rgba(0, 0, 0, 0.04);
    -webkit-box-shadow: 2px 3px 12px rgba(0, 0, 0, 0.04);
    -moz-box-shadow: 2px 3px 12px rgba(0, 0, 0, 0.04);

}

/*header*/
header{
    padding:1em 0px;
    font-size: 38px;
    font-weight: 500;
}


/*main section*/
main{
    padding-top:68px;
    padding-bottom:25px;
}

/* index */
#se-calendar .card-body{
    max-height: 300px;
    overflow: auto;
    display: inline-block;
}

/* transactie page */
#transacties tr.collapsing{
    transition-duration: 0s;
}
#transacties .show td{
    border-top:none;
}

/* ? */
.fade {
    transition: opacity .1s linear;
}

/* forms */
form .btn-group-toggle .btn:hover {
    background-color: rgb(238, 238, 238);
    color:#444;
}

.form-control{
    border: 0px black solid;
    background-color: rgb(245, 245, 245);
}
.form-control:focus{
    background-color: rgb(245, 245, 245);
}

.input-group-text{
    border: 0px black solid;
    background-color: rgb(245, 245, 245);
}
form input[type="checkbox"]::before{
    content: ' ';
    position: absolute;
    top:2px;
    bottom:2px;
    right:2px;
    left: 2px;;
    cursor: pointer;
}
form .list-group-item{
    padding:0.35em 1em;
}

/*card*/
.card {
    height: auto;
    border-radius: 8px;
    border: none;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    margin-bottom: 1rem;
}
.card-header{
    background: white;
    border: none;
    font-size:24px;
    font-weight: 500;
    border-radius: 20px;
    padding:1.2rem 1.8rem;
}
.card-header:first-child{
    border-radius: 8px;
}

.card-sticky{
    height: auto;
    position: sticky;
    top:80px;
}

/* Buttons */
.btn{
    border-radius: 6px;
    padding:0.4rem 0.8rem;
}

/* Vector icons */
.feather{
    max-width: 20px;
    padding: 0 2px;
}

/*MOBILE*/
@media (max-width: 992px) {

    main {
        padding: 68px 10px 10px 10px;
    }
    header{
        margin: 10px auto;
        padding:2px 0px;
    }
    main form{
        max-width: 100%;
    }
    .navbar .dropdown-menu a{
        font-size: 18px;
    }
}
