/*general*/
body {
    overflow-y: scroll;
    background-color: rgb(252, 252, 252);
    margin: 0 auto;
}

/*login page*/
.form-login {
    width: 300px;
    margin: 0 auto !important;
}

.form-login input {
    margin-bottom: 10px;
}


/*flex*/
.flex-container {

}

/*main section*/
main {
    width: 85%;
    padding: 40px;
    margin: 0 0 0 15%;
}

/*mobile nav*/
.mobile-nav {
    display: none;
}
.logo-mobile{
    padding: 4px;
}

/*sidebar*/
.sidebar {
    width: 100%;
    max-width: 15%;
    padding: 20px;
    bottom: 0;
    top: 0;
    position: fixed;
    border-right: 1px solid #e6e6e6;
    background-color: rgb(250, 250, 250);
}

.sidebar .logo{
    display: block;
    margin: 20px auto;
}
.sidebar .category{
    text-transform: uppercase;
    color: #a9a9a9;
    margin: 20px 0 10px 5px;
}
.collapse:not(.show){
    display: block;
}


.sidebar .nav-link {
    font-weight: 800;
    color: #656565;
    font-size: 16px;
}

.sidebar .nav-link .feather {
    margin-right: 15px;
    color: #9a9a9a;
}

.sidebar .nav-link.active {
    color: #c59035;
    background-color: rgba(197, 144, 53, 0.1);
    border-radius: .25rem;
}
.sidebar .nav-link:hover {
    color: #c59035;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
    color: inherit;
}

.sidebar-heading {
    font-size: .75rem;
    text-transform: uppercase;
}
.profielfoto{

}

.logout {
    bottom: 0;
}

/*icons*/
.feather {

}

/*card*/
.card {
    border-radius: .25rem;
    background: none;
    border: none;
    margin: 0 0 10px 0;
    padding: 20px;
    /*box-shadow: 0px 1px 2px rgba(230, 230, 230, 0.5);
    -webkit-box-shadow: 0px 1px 2px rgba(230, 230, 230, 0.5);
    -moz-box-shadow: 0px 1px 2px rgba(230, 230, 230, 0.5);*/
}

/*row*/
.row{
    margin: 0;
}

main form{
    max-width: 850px;
}

/*MOBILE*/
@media (max-width: 992px) {

    .mobile-nav {
        display: block;
        padding: 8px;
        height: 60px;
        background: rgb(253, 253, 253);
        box-shadow: 0px 2px 15px 1px rgba(230, 230, 230, 0.5);
        -webkit-box-shadow: 0px 2px 15px 1px rgba(230, 230, 230, 0.5);
        -moz-box-shadow: 0px 2px 15px 1px rgba(230, 230, 230, 0.5);
    }
    .sidebar .logo{
        display: none;
        margin: 0;
    }

    .menu {
        float: right;
        height: 100%;
    }
    .sidebar{
        position: static;
        width: auto;
        background: white;
        max-width: 100%;

    }
    .sidebar .nav-link{
        font-size: 20px;
    }
    .collapse:not(.show){
         display: none;
    }

    main {
        width: 100%;
        margin: 10px auto;
        padding: 0px 10px;
    }

    main form{
        max-width: 100%;
    }
}
