/*general*/
body {
    overflow-y: scroll;
    background-color: rgb(250, 250, 250);
    margin-top: 70px;
}

/*login page*/
.form-login {
    width: 300px;
    margin: 0 auto !important;
}

.form-login input {
    margin-bottom: 10px;
}
/*nav*/
.navbar{
    -webkit-backdrop-filter: saturate(150%) blur(8px);
    backdrop-filter: saturate(150%) blur(8px);
    background-color: rgba(5, 9, 20, 0.8);
    /*  box-shadow: 0px 1px 2px rgba(230, 230, 230, 0.8);
    -webkit-box-shadow: 0px 1px 2px rgba(230, 230, 230, 0.8);
    -moz-box-shadow: 0px 1px 2px rgba(230, 230, 230, 0.8); */
}
.navbar .nav-item{
    font-size: 16px;
    padding: 0 8px;
}
.navbar .dropdown-menu{
    -webkit-backdrop-filter: saturate(150%) blur(8px);
    backdrop-filter: saturate(150%) blur(8px);
    background-color:rgba(255, 255, 255, 0.95);
}

.navbar .dropdown-menu a:hover, .navbar .dropdown-menu a:active, .navbar .dropdown-menu a:focus{
    color:rgba(255, 255, 255, 1);
    background-color: rgba(5, 9, 20, 0.6);
}
.navbar .dropdown-menu .active{
    color:rgba(255, 255, 255, 1);
    background-color: rgba(5, 9, 20, 0.8);
}
/*header*/
header{
    margin: 10px auto 0 auto;
    height: 4em;
}

/*main section*/
main{
    padding-top:2px;
}

.fade {
    transition: opacity .1s linear;
}

form .btn-group-toggle .btn:hover {
    background-color: rgb(238, 238, 238);
    color:#444;
}

/*card*/
.card {
    border-radius: .25rem;
    background: none;
    border: none;
    margin: 0 0 10px 0;
    padding: 20px;
    /* box-shadow: 0px 1px 2px rgba(230, 230, 230, 0.5);
    -webkit-box-shadow: 0px 1px 2px rgba(230, 230, 230, 0.5);
    -moz-box-shadow: 0px 1px 2px rgba(230, 230, 230, 0.5); */
}

/*row*/
.row{
    margin: 0;
}
.feather{
    max-width: 20px;
    padding: 0 2px;
}

/*MOBILE*/
@media (max-width: 992px) {

    main {
        padding: 10px 10px;
    }
    header{
        margin: 20px auto 20px auto;
        height: 4em;
    }
    main form{
        max-width: 100%;
    }
    .navbar .dropdown-menu a{
        font-size: 18px;
    }
}
